@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
  padding: 0; margin: 0;
  font-family: Arial, serif;
  background: #F6F5F8;
  font-family: 'Roboto', sans-serif;
}
:root {
  --heading-color: #3B455B;
}

h1, h2, h3, h4, h5, h6, span, p, article {
  color: var(--heading-color);
}

h2 {
  font-weight: normal;
}

.p-card {
  color: var(--heading-color);
  box-shadow: 2px 2px 16px rgba(0,0,0,.1);

  .p-card-title {
    font-size: 1rem;
    text-transform: uppercase;
    opacity: .9;
  }
}
